.blog {
    .line-1 {
        width:97px;
        height:3px;
        margin: 30px auto;
        background-color: $warning;
    }
    h1,h2 {
        font-weight:$playfair-display-bold;
    }
    .blog-content {
        .blog-heading {
            &:hover {
                color:$warning;
                cursor:pointer;
                transition:0.5s linear;
            }
        }
        .blog-date {
            color:#b3b3b3;
        }
        .blog-button {
            color:#000;
            font-weight: $playfair-display-bold;
            text-decoration:underline;
            &:hover {
                color:$white;
                cursor:pointer;
                background-color:$warning;
                padding:10px;
                border-radius:4px;
                text-decoration: none;
            }
        }
    }
}
