.counter {
    .line-1 {
        width:77px;
        height:2px;
        margin: 30px auto;
        background-color: $warning;
    }
    h2 {
        font-weight:bold;
    }
    .achievements-value {
        letter-spacing: 1px;
    }
}

