@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

$font-playfair-display: 'Playfair Display', serif;
$playfair-display-bold: 700;
$playfair-display-regular: 400;
$playfair-display-italic: 400i;

