.welcome {
    .line-1 {
        width:97px;
        height:3px;
        margin: 30px auto 0 0;
        background-color: $warning;
    }
    .leader {
        font-weight:italic;
        color:$gray-600;
        font-size:25px;
        letter-spacing:1px;
    }
    h1,h2 {
        font-weight:bold;
    }
    h1 {
        font-size:3rem;
    }
    .button-3 {
        padding:10px 50px;
        font-weight:bold;
        &:hover {
            cursor:pointer;
        }
    }
}

